# TWC Case Study Analysis

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction
TWC case study is a sample medical dataset of patient interaction.

Using the TWC Case study dataset, analysis will be carried out with the aim of finding the trends. 

To achieve this, the following questions will be answered in the analysis:

- Which Patient Type in Location 10 brought the Most revenue in 2019? 
- Which location saw the biggest increase in total patient volume %? what %?  (1/1/2020-3/16/2020  vs 3/17/2020-6/30/2020).
- Do females or males bring in more revenue/patient?
- What is the cost/patient of our most costly patient type? Which patient type?
- Which Physician was the most profitable on a per patient basis? What profit?
- Which doctor saw the highest volume of unique Medicare Patients.
- What is the average age of a female Glaucoma & Glaucoma Laser patient in 2019?
- Which patient type drives the most revenue/encounter and profit/encounter? What was Revenue by Encounter/ Profit/Encounter?
- Which contract type is most profitable per patient/what profit?
- What is the total profit on FFS patients?


To answer the above questions from the TWC case study dataset Dataset will be used.

In [1]:
#Import needed libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

<a id='wrangling'></a>
## Data Wrangling

TWC Case Study dataset loading and cleaning operations

### General Properties

In [2]:
# Load TWC case study dataset
df_data = pd.read_excel("TWC_Case Study dataset.xlsx", sheet_name="Data")
df_cpt_Info = pd.read_excel("TWC_Case Study dataset.xlsx", sheet_name="CPT Info")
df_contract_info = pd.read_excel("TWC_Case Study dataset.xlsx", sheet_name="Contract Info")
df_cost_mca_rev = pd.read_excel("TWC_Case Study dataset.xlsx", sheet_name="Cost as % of MCA or Rev")

In [3]:
# Confirm Import 
df_data.head(2)

,Person Number,charge DOS,Contract,COB1,Location,Physician,Patient Age,Cpt Type,Co-Payment,Encounter Number,Patient Type,Patient Zip Code,Patient Gender,CPT,Revenue
0,21913,2020-01-06,Contract 1,COB1 4,Location 4,Physician 4,73,Lucentis,0,5,Retinal Injections,90011.0,M,LUCEN_DELV,1823.64
1,11093,2020-01-02,Contract 1,COB1 6,Location 6,Physician 7,80,Eylea,0,15,Retinal Injections,90044.0,M,EYLEA_DELV,2447.55

In [4]:
df_cpt_Info.head(2)

         Code Desc  Cpt Type Service Item Id  Medicare Allowable
0  Lucentis Delive  Lucentis      LUCEN_DELV                 0.0
1  Eylea Delivered     Eylea      EYLEA_DELV                 0.0

In [5]:
df_contract_info.head(2)

,Number,Contract,Number.1,COB 1,Fin Class,LOB,Number.2,TPA,Primary Key,Countif
0,1,Contract 1,4,COB1 4,FFS,Medicare,NaN,NaN,Contract 1COB1 4,1
1,1,Contract 1,6,COB1 6,FFS,Medicare,NaN,NaN,Contract 1COB1 6,1

In [6]:
df_cost_mca_rev.head(2)

   Cpt Type  % of MCA  % of Revenue
0  Lucentis      0.65           0.9
1     Eylea      0.65           0.9

## Assessing Data
Assessing collected dataset

##### Visual assessment:

In [7]:
df_data.sample(10)

,Person Number,charge DOS,Contract,COB1,Location,Physician,Patient Age,Cpt Type,Co-Payment,Encounter Number,Patient Type,Patient Zip Code,Patient Gender,CPT,Revenue
1537,23046,2019-06-06,Contract 29,COB1 138,Location 23,Physician 14,75,Cataract Surgery,0,7028,Surgery,90049.0,M,66984,976.892000
7330,21913,2019-03-07,Contract 1,COB1 4,Location 4,Physician 4,72,OCT,0,3573,Retinal Injections,90011.0,M,92134,61.124000
6617,15805,2019-04-09,Contract 18,COB1 28,Location 31,Physician 18,52,Office Code,0,21237,Post Op,90065.0,M,2022F,0.000000
8353,10440,2019-02-14,Contract 1,COB1 106,Location 6,Physician 7,75,Office Code,0,21208,Retinal Injections,90017.0,M,2022F,0.000000
1497,10922,2020-10-08,Contract 50,COB1 85,Location 4,Physician 4,67,OCT,5,7604,Post Op,90077.0,M,92134,60.430447
3232,12885,2018-05-04,Contract 21,COB1 30,Location 4,Physician 4,49,Other,0,2089,Retinal Injections,90023.0,M,67028,156.087570
3460,17201,2018-08-30,Contract 1,COB1 106,Location 6,Physician 7,86,Other,0,15175,Retinal Procedures,90036.0,F,67028,156.087570
4179,26360,2020-08-17,Contract 63,COB1 113,Location 23,Physician 48,87,Anesthesia,0,18533,Anesthesia,90049.0,M,140,183.859200
1938,11322,2018-07-25,Contract 46,COB1 72,Location 14,Physician 16,60,Office Code,0,9487,Retinal Injections,90003.0,M,92014,182.383477
8890,16046,2020-01-16,Contract 16,COB1 108,Location 6,Physician 7,71,OCT,0,28434,Retinal Injections,90040.0,M,92134,60.430447

In [8]:
df_cpt_Info.sample(10)

           Code Desc          Cpt Type Service Item Id  Medicare Allowable
74   Anes- Eye; Corn        Anesthesia             144          219.690000
3    Medical Records             Other            Misc            0.000000
66   Lucentis 0.5 Mg          Lucentis           J2778            0.000000
59   Cataract Ext.    Cataract Surgery           66982          815.531849
43   Fistuliz Scler;          Glaucoma           66170         1190.778929
106  Repr Blepharopt   Plastic Surgery           67904          594.498283
2    Walk Out Not Se             Other        Walk Out            0.000000
18   Ophth Serv: Med       Office Code           92012           90.520274
64   Ophth Exten W/r    Ophthalmoscopy           92226           26.390947
46   Inj Anes Agent;             Other           64400           88.401338

In [9]:
df_contract_info.sample(10)

,Number,Contract,Number.1,COB 1,Fin Class,LOB,Number.2,TPA,Primary Key,Countif
38,66,Contract 66,119,COB1 119,CAP,Medicaid,16.0,TPA 16,Contract 66COB1 119,1
25,1,Contract 1,81,COB1 81,FFS,Medicare,NaN,NaN,Contract 1COB1 81,1
45,40,Contract 40,133,COB1 133,FFS,Medicare,NaN,NaN,Contract 40COB1 133,1
17,42,Contract 42,53,COB1 53,FFS,Medicare,11.0,TPA 11,Contract 42COB1 53,2
61,12,Contract 12,37,COB1 37,CAP,Medicare,6.0,TPA 6,Contract 12COB1 37,2
69,103,Contract 103,194,COB1 194,CAP,Medicaid,NaN,NaN,Contract 103COB1 194,1
71,109,Contract 109,201,COB1 201,CAP,Medicare,6.0,TPA 6,Contract 109COB1 201,1
2,5,Contract 5,9,COB1 9,Self-Pay,Commercial,NaN,NaN,Contract 5COB1 9,1
24,49,Contract 49,80,COB1 80,CAP,Medicare,13.0,TPA 13,Contract 49COB1 80,1
4,12,Contract 12,18,COB1 18,FFS,Medicare,6.0,TPA 6,Contract 12COB1 18,1

In [10]:
df_cost_mca_rev.sample(10)

                Cpt Type  % of MCA  % of Revenue
10       Plastic Surgery      0.95           0.9
8              SLT Laser      0.55           0.9
9           Visual Field      0.95           0.9
3                Avastin      0.65           0.9
16  Non-Cataract Surgery      0.80           0.9
18       Retinal Surgery      0.85           0.9
14              Glaucoma      0.75           0.9
4                    OCT      0.65           0.9
19            Anesthesia      0.50           0.9
0               Lucentis      0.65           0.9

##### Programmatic assessment:

In [11]:
# check the data table for data Quality issues
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10320 entries, 0 to 10319
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Person Number     10320 non-null  int64
 1   charge DOS        10320 non-null  datetime64[ns]
 2   Contract          10320 non-null  object
 3   COB1              10320 non-null  object
 4   Location          10320 non-null  object
 5   Physician         10320 non-null  object
 6   Patient Age       10320 non-null  int64
 7   Cpt Type          10320 non-null  object
 8   Co-Payment        10320 non-null  int64
 9   Encounter Number  10320 non-null  int64
 10  Patient Type      10320 non-null  object
 11  Patient Zip Code  10121 non-null  float64
 12  Patient Gender    10320 non-null  object
 13  CPT               10320 non-null  object
 14  Revenue           10320 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(4), object(8)
memory usage: 1.2+ MB

In [12]:
df_cpt_Info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Code Desc           130 non-null    object
 1   Cpt Type            130 non-null    object
 2   Service Item Id     130 non-null    object
 3   Medicare Allowable  130 non-null    float64
dtypes: float64(1), object(3)
memory usage: 4.2+ KB

In [13]:
df_contract_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Number       83 non-null     int64
 1   Contract     83 non-null     object
 2   Number.1     83 non-null     int64
 3   COB 1        83 non-null     object
 4   Fin Class    83 non-null     object
 5   LOB          83 non-null     object
 6   Number.2     36 non-null     float64
 7   TPA          36 non-null     object
 8   Primary Key  83 non-null     object
 9   Countif      83 non-null     int64
dtypes: float64(1), int64(3), object(6)
memory usage: 6.6+ KB

In [99]:
df_cost_mca_rev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Cpt Type      23 non-null     object
 1   % of MCA      23 non-null     float64
 2   % of Revenue  23 non-null     float64
dtypes: float64(2), object(1)
memory usage: 680.0+ bytes

In [101]:
df_cpt_Info[df_cpt_Info.duplicated('Service Item Id')]

           Code Desc          Cpt Type Service Item Id  Medicare Allowable
94   Cataract Ext. C  Cataract Surgery           66982          815.531849
122  Beovu Delivered             Beovu      Beovu_Delv            0.000000

In [103]:
df_cost_mca_rev[df_cost_mca_rev.duplicated('Cpt Type')]

Empty DataFrame
Columns: [Cpt Type, % of MCA, % of Revenue]
Index: []

#### Quality issues
##### `df_data` table 
1. Erroneous datatypes (Person Number and Patient Zip Code should be objects, not integers or floats as they are not numeric and not intended for calculations)

2. Duplicates on Service Item Id in `df_cpt_Info`

##### `df_cost_mca_rev` table
3. % of MCA and % of Revenue values not in percentage a

#### Tidiness issues
1. Based on tidiness rule that Each type of observational unit forms a table, Cost column should be generated from `df_cost_mca_rev` into `df_data`. Also Fin Class, LOB, and TPA from `df_contract_info` should be merged into `df_data`

### Data Cleaning

In [271]:
# Make copies of original pieces of data
df_data_clean = df_data.copy()
df_cpt_Info_clean = df_cpt_Info.copy()
df_contract_info_clean = df_contract_info.copy()
df_cost_mca_rev_clean = df_cost_mca_rev.copy()

#### Issue:
Erroneous datatypes

##### Define
- convert Person Number and Patient Zip to object format

##### Code

In [272]:
# change datatype
df_data_clean['Person Number'] = df_data_clean['Person Number'].astype(str)
df_data_clean['Patient Zip Code'] = df_data_clean['Patient Zip Code'].astype(str)

##### Test

In [273]:
#confirm type
df_data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10320 entries, 0 to 10319
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Person Number     10320 non-null  object
 1   charge DOS        10320 non-null  datetime64[ns]
 2   Contract          10320 non-null  object
 3   COB1              10320 non-null  object
 4   Location          10320 non-null  object
 5   Physician         10320 non-null  object
 6   Patient Age       10320 non-null  int64
 7   Cpt Type          10320 non-null  object
 8   Co-Payment        10320 non-null  int64
 9   Encounter Number  10320 non-null  int64
 10  Patient Type      10320 non-null  object
 11  Patient Zip Code  10320 non-null  object
 12  Patient Gender    10320 non-null  object
 13  CPT               10320 non-null  object
 14  Revenue           10320 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(10)
memory usage: 1.2+ MB

#### Issue:
% of MCA and % of Revenue values not in percentage

##### Define
- Multiply % of MCA and % of Revenue values by 100 to convert to percentage

##### Code

In [274]:
df_cost_mca_rev_clean['% of MCA'] = df_cost_mca_rev_clean['% of MCA'] * 100
df_cost_mca_rev_clean['% of Revenue'] = df_cost_mca_rev_clean['% of Revenue'] * 100

##### Test

In [275]:
#confirm value in percentage 
df_cost_mca_rev_clean[['% of MCA','% of Revenue' ]].sample(5)

    % of MCA  % of Revenue
15      75.0          90.0
9       95.0          90.0
8       55.0          90.0
13      60.0          90.0
18      85.0          90.0

#### Issue:
Duplicates on Service Item Id in df_cpt_Info

##### Define
- Drop duplicate detected and keep just one record

##### Code

In [276]:
df_cpt_Info_clean = df_cpt_Info_clean.drop_duplicates(subset=['Service Item Id'], keep = 'last')

##### Test

In [277]:
df_cpt_Info_clean[df_cpt_Info_clean.duplicated('Service Item Id')]

Empty DataFrame
Columns: [Code Desc, Cpt Type, Service Item Id, Medicare Allowable]
Index: []

#### Issue:
Cost column should be generated from `df_cost_mca_rev` into `df_data`. Also Fin Class, LOB, and TPA from `df_contract_info` should be merged into `df_data`

##### Define
- represent Medicare Allowable value for each record in df_data
- generate the cost column in df_data using Revenue and Medicare Allowable based on the cost rule.

##### Code

In [278]:
#create the merging key on both tables
df_cpt_Info_clean['Key'] = df_cpt_Info_clean['Service Item Id']
df_data_clean['Key'] = df_data_clean['CPT']

In [279]:
#confirm match on first row
assert df_cpt_Info_clean['Key'][0] == df_data_clean['Key'][0]

In [280]:
# drop Cpt Type on df_cpt_Info_clean to avoid unique column error
df_cpt_Info_clean = df_cpt_Info_clean.drop(['Cpt Type'], axis = 1)

In [281]:
# merge the table with match on key column
df_data_clean = df_data_clean.merge(df_cpt_Info_clean, how='inner', on='Key')

In [282]:
# drop redudant columns
df_data_clean = df_data_clean.drop(['Key','Service Item Id'], axis = 1)

##### Test

In [283]:
#check new columns in df_data_clean
df_data_clean.columns

Index(['Person Number', 'charge DOS', 'Contract', 'COB1', 'Location',
       'Physician', 'Patient Age', 'Cpt Type', 'Co-Payment',
       'Encounter Number', 'Patient Type', 'Patient Zip Code',
       'Patient Gender', 'CPT', 'Revenue', 'Code Desc', 'Medicare Allowable'],
      dtype='object')

In [284]:
df_data_clean.sample(3)

,Person Number,charge DOS,Contract,COB1,Location,Physician,Patient Age,Cpt Type,Co-Payment,Encounter Number,Patient Type,Patient Zip Code,Patient Gender,CPT,Revenue,Code Desc,Medicare Allowable
8903,23046,2019-02-27,Contract 29,COB1 138,Location 4,Physician 14,75,Other,0,16173,Diagnostic Test,90049.0,M,76519,0.000000,Ophth Biomet A-,76.872106
6349,23853,2020-07-13,Contract 77,COB1 139,Location 31,Physician 18,55,OCT,0,34190,Retinal Injections,90026.0,F,92134,60.430447,Scan Computeriz,43.084681
9310,11696,2020-10-26,Contract 1,COB1 24,Location 23,Physician 14,71,Glaucoma,0,10279,Surgery,90046.0,M,66170,1661.763533,Fistuliz Scler;,1190.778929

In [285]:
# confirm that the number of unique values in CPT after the merge is still same
assert df_data_clean['CPT'].nunique() == df_data['CPT'].nunique()

In [286]:
# confirm the number of rows is same after merger
assert df_data.shape[0] == df_data_clean.shape[0]

#### Issue:
generate the cost column

##### Define
- generate the cost column in df_data using Revenue and Medicare Allowable based on the cost rule.

##### Code

In [287]:
# merge cost % records to df_data_clean table
df_data_clean = df_data_clean.merge(df_cost_mca_rev_clean, how='left', on='Cpt Type')

In [288]:
assert df_data_clean['Cpt Type'].nunique() == df_data['Cpt Type'].nunique()

In [289]:
# confirm the number of rows is same after merger
assert df_data.shape[0] == df_data_clean.shape[0]

In [290]:
# mirro allowance column as cost
df_data_clean['Cost'] = df_data_clean['Medicare Allowable']

In [291]:
# generate cost (If MCA is greater that zero use % of medicare allowance else use % of revenue)
# calculate cost value and replace
for ind in df_data_clean.index:
    if df_data_clean['Medicare Allowable'][ind] > 0:
        df_data_clean['Cost'][ind] = (df_data_clean['% of MCA'][ind] * df_data_clean['Medicare Allowable'][ind])/100
        df_data_clean['% of Revenue'][ind] = 0
    elif df_data_clean['Medicare Allowable'][ind] <= 0:
        df_data_clean['Cost'][ind] = (df_data_clean['% of Revenue'][ind] * df_data_clean['Revenue'][ind])/100
        df_data_clean['% of MCA'][ind] = 0

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

##### Test

In [292]:
df_data_clean[['Revenue','Medicare Allowable','% of MCA', '% of Revenue', 'Cost']]

           Revenue  Medicare Allowable  % of MCA  % of Revenue         Cost
0      1823.640000            0.000000       0.0          90.0  1641.276000
1      1823.640000            0.000000       0.0          90.0  1641.276000
2      1823.640000            0.000000       0.0          90.0  1641.276000
3      1823.640000            0.000000       0.0          90.0  1641.276000
4      1823.640000            0.000000       0.0          90.0  1641.276000
...            ...                 ...       ...           ...          ...
10315    43.546866           31.104904      75.0           0.0    23.328678
10316    43.546866           31.104904      75.0           0.0    23.328678
10317   212.734334          151.953095      65.0           0.0    98.769512
10318   802.262136          573.044383      65.0           0.0   372.478849
10319   805.462000          573.044383      65.0           0.0   372.478849

[10320 rows x 5 columns]

## Storing Data
- Save cleaned `df_data_clean` master dataset to a excel file named "twc_case_study_master.xlsx".
- Save the `df_contract_info_clean` to excel

In [293]:
df_data_clean.to_excel('twc_case_study_master.xlsx', sheet_name='master Data', index=False)
df_contract_info_clean.to_excel('Contract Info.xlsx', sheet_name='Contract Info', index=False)

<a id='eda'></a>
## Exploratory Data Analysis

In [294]:
# load dataset
df_master = pd.read_excel('twc_case_study_master.xlsx')

In [295]:
df_master.head(3)

,Person Number,charge DOS,Contract,COB1,Location,Physician,Patient Age,Cpt Type,Co-Payment,Encounter Number,Patient Type,Patient Zip Code,Patient Gender,CPT,Revenue,Code Desc,Medicare Allowable,% of MCA,% of Revenue,Cost
0,21913,2020-01-06,Contract 1,COB1 4,Location 4,Physician 4,73,Lucentis,0,5,Retinal Injections,90011.0,M,LUCEN_DELV,1823.64,Lucentis Delive,0.0,0.0,90.0,1641.276
1,18623,2019-05-09,Contract 1,COB1 4,Location 4,Physician 4,69,Lucentis,0,1599,Retinal Injections,90043.0,F,LUCEN_DELV,1823.64,Lucentis Delive,0.0,0.0,90.0,1641.276
2,24780,2019-01-11,Contract 1,COB1 4,Location 4,Physician 4,75,Lucentis,0,1614,Office Visit,90043.0,F,LUCEN_DELV,1823.64,Lucentis Delive,0.0,0.0,90.0,1641.276

### Research Question 1 (Replace this header name!)

### Research Question 2  (Replace this header name!)

In [ ]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work, you should save a copy of the report in HTML or PDF form via the **File** > **Download as** submenu. Before exporting your report, check over it to make sure that the flow of the report is complete. You should probably remove all of the "Tip" quotes like this one so that the presentation is as tidy as possible. Congratulations!